@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}
body{
    background-color: #131722;
}
#img{
    display: flex;
    margin:auto;
}
h1{
    color: white;
    display: flex;
    justify-content: center;
    padding-top:10px;
    font-family: Orbitron;
    font-size: 40px;    
}
#nav{
    padding-top: 20px;
    display: flex;
    
    justify-content: center;
    color:cyan;
    font-size: 20px;
    
}
/**/
.class1{
  
    margin-right: 10px; 
    background-color: gray;
    border-radius: 10px;
    padding: 5px 10px;   
}
.class1:hover{
    background-color: cyan;
    color: white;
}
.class2{
    margin-left: 10px;
    margin-right: 10px;
    background-color: gray;
    border-radius: 10px;
    padding: 5px 10px;   
    
}
.class3{
    margin-left: 10px;
    margin-right: 10px;    
    background-color: gray;
    border-radius: 10px;
    padding: 5px 10px;   

}
#section{
    display: flex; 
    padding-top: 10px;
    margin: 40px;
    border-radius: 20px;
    height: 300px;
    background-color: white;
}